@{
    ViewData["Title"] = "School Authority Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div class="d-grid gap-2 col-6 mx-auto mt-5">
    <a asp-action="ScanIn" class="btn btn-primary btn-lg">Scan In</a>
    <a asp-action="ScanOut" class="btn btn-danger btn-lg">Scan Out</a>
</div>
