@{
    ViewData["Title"] = "Bus Driver Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div class="d-grid gap-2 col-6 mx-auto mt-5">
    <a asp-action="ScanOn" class="btn btn-primary btn-lg">Scan On</a>
    <a asp-action="ScanOff" class="btn btn-danger btn-lg">Scan Off</a>
</div>
