@model CheckInConfirmationViewModel

@{
    ViewData["Title"] = "Check In Confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center">Check In Confirmation</h2>

                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.SuccessMessage
                        </div>
                    }

                    <dl class="row">
                        <dt class="col-sm-4">Name:</dt>
                        <dd class="col-sm-8">@Model.UserName</dd>
                        <dt class="col-sm-4">Check In Time:</dt>
                        <dd class="col-sm-8">@Model.CheckInTime?.ToString("g")</dd>
                        <dt class="col-sm-4">Check Out Time:</dt>
                        <dd class="col-sm-8">@Model.CheckOutTime?.ToString("g")</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
